.container {
  padding: 0 0rem;
  overflow-x: hidden;
}


.vedtext {
  position: fixed;
  z-index: 100;
  font-family: 'Cooper Black';
  color: #ffeef3;
  font-size: 15rem;
  letter-spacing: 1.4rem;
  height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.scrolling {
  display: flex;
  flex-direction: row;
  height: fit-content;
  animation: scroll 10s linear infinite;
}

.scrolling p {
  margin: 0;
}

.vertical_t{
  writing-mode: vertical-rl;
}

.upright{
  text-orientation: upright;
}

@keyframes scroll {
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-20%);
  }
}

.tophr {
  width: 100%;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
}

.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.paper_container {
  position: relative;
  align-self: flex-end;
  width: 65%;
  height: 120px;
  background-color: white;
}

.dotted_paper {
  position: absolute;
  top: 0;
  left: 1.65rem;
  border: none;
  border-left: dashed 4px black;
  z-index: 1;
  height: 100%;
  width: 0px;
}

.paper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 35%;
  background-image: url("/img/paper-t.jpg");
  background-size: cover;
}

.textile {
  padding-top: 0.3rem;
  padding-bottom: 0.45rem;
  margin-left: 3rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ved {
  z-index: 1;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 1.8rem;
  flex-grow: 1;
  opacity: 75%;
}

.subved {
  z-index: 1;
  font-family: 'Playfair Display', serif;
  color: black;
  opacity: 75%;
  font-size: 0.6rem;
}

.blue{
  position: relative;
  align-self: flex-end;
  margin-top: 12px;
  width: 35%;
  height: 9px;
  background-color: rgb(145, 210, 240);
}

.yellow{
  position: relative;
  align-self: flex-end;
  margin-top: 12px;
  width: 52%;
  height: 36px;
  background-color: rgb(241, 238, 160);
}

.papers {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.waves {
  position: absolute;
  z-index: 0;
  display: flex;
  align-self: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.light_container_c {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.light_container{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  color: white;
}

.row2 {
  display: flex;
  height: 192px;
}

.boxy {
  height: 100%;
  flex-grow: 1;
}

.circleContainer {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@keyframes expand {
  0% {
    width: 1%;
    opacity: 1;
  }
  100% {
    width: 200%;
    opacity: 0;
  }
}

.circle {
  animation: 1s ease-out 0s 1 expand;
  position: absolute;
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.road {
  height: 100%;
  width: 400px;
  overflow: hidden;
}

.roadContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.roadLineContainer {
  position: relative;
  width: 1px;
  height: 100%;
}

.birdbox {
  width: 100%;
  height: 10rem;
  position: relative;
  overflow: hidden;
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

.bird {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: white;
  transition: all 0.8s ease-out;
}

.jump {
  transition: all 0.6s;
  animation-name: jump;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0,.4,1,.4);
}

.fly {
  transition: all 0.8s ease-in;
}